@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    &:before {
        content: "";
        width: 100%;
        height: 100vh;
        background-image: url("/bg.jpg");
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
