@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    &:before {
        content: "";
        width: 100%;
        height: 100vh;
        background-image: url("/bg.jpg");
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.blur-effect {
    filter: blur(24px);
}
/* styles.css */

.slide-in {
    transform: translateX(0%);
    transition: transform 500ms ease-in-out;
}

.slide-out {
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}
